<form action="" method="post">

<label>Title</label>
<br>
<input type="text" name="theTitle" [(ngModel)]="newEntry.title">
<br>
<label>Content</label>
<br>
<textarea type="text" name="theContent" [(ngModel)]="newEntry.content"></textarea>
<br>
<button (click)="diaryEntry(newEntry)">Add New Entry</button> 

</form>



<h1>Journal Entries</h1>


<!-- <div>{{ theEntries }}</div> -->
<!-- <button (click)=""></button> -->
<div *ngFor="let log of theEntries">

  <h2>{{log.title}}</h2>
  <p><b>Content:</b> {{log.content}}</p>

  <a [routerLink]="['entry', log._id]">See Details</a>

  </div>

